*{
  padding:0;
  box-sizing: border-box;
  margin: 0;
}
.app
{
    display:flex;
    justify-content: center;
    height:100vh;
}

.inputs{
    height:400px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
}

.inputs input
{
  width:200px;
  height:50px;
  font-size:18px;
  margin:10px;
  padding-left:10px;
}

.inputs button
{
   border:2px solid black;
   padding: 8px 5px;
   border-radius:8px;
   background-color:aqua;
}
.friend
{
  width:300px;
  height:60px;
  background-color: aquamarine;
  color:black;
  display:flex;
  border:2px solid black;
  border-radius: 10px;
  margin:10px;
}
.friend h3
{
   margin-left:15px;
}
.friends-container
{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.friendcontainer
{
   display:flex;
   justify-content: center;
   align-items: center;
}
.friendcontainer button
{
    width:50px;
    height:50px;
    border-radius:10px;
    background-color: aquamarine;
    border:2px solid black;
    margin-left:5px;
    
}
.friendcontainer button:hover
{
      background-color: aqua;
}
